h1 {
    color: blue;
    margin: 10px auto;
}

body {
    background: radial-gradient(circle, rgba(63,94,251,0.4) 0%, rgba(252,70,107,0.4) 100%);
    background: url("img/pngwing.com.png");
}


div {
    background: linear-gradient(45deg, rgba(80%, 80%, 30%) 25%, #fcb045 50%, #45fcdb 75%, #45fc66 100%);
    text-align: center;
    border: 2px solid blue;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-size:24px;
    font-style: oblique;
    text-shadow: 2px 2px 3px green;
}

.parent {
  border: 0.05em solid red;
  width:100%;
  display: flex;
  justify-content: center
}

.recl {
   width: 0.1;
   height: 0.1;
}

